[Unit]
Description=MQTLS Broker
ConditionPathExists=/etc/gobroker
Wants=network-online.target
After=network-online.target

[Service]
WorkingDirectory=/etc/gobroker
ExecStart=/usr/local/bin/gobroker
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
